<h1><%= collection.name %> <a href="/cards/new" class="btn">Add a new card</a> <a href="#delete-collection-modal" class="btn red modal-trigger">Delete this collection</a> </h1>

<div>
<%  if (collection.cards) {%>
    <% collection.cards.forEach(card => { %>
        <div class="row">
            <div class="front">
                <%= card.front   %>
            </div>
            <div class="back">
                <%= card.back %>
            </div>
        </div>
    <% }) %>
<% } %>
</div>

<div id="delete-collection-modal" class="modal">
    <div class="modal-content">
        <h3>Are you sure? <button class=".modal-close btn-flat right" onclick=deleteModal.close()><i class=" material-icons">close</i></button></h3>
        <p> Delete the collection </p>
        <div class="card">
            <div class="card-content">
                <p><span class="card-title"><%= collection.name %> </span></p>
                <p><%= collection.description  %></p>
            </div>
        </div>
        <button id="DELETE-COLLECTION" class="btn">confirm delete</button>
    </div>
</div>

<script>
var url = "<%= '/collections/' + collection.id %>"

</script>
<script src="/js/collections-show.js"></script>