<h1><%= collection.name %> <a href="/cards/new?collectionId=<%=collection.id%>" class="btn">Add a new card</a> <a href="#delete-collection-modal" class="btn red modal-trigger">Delete this collection</a> </h1>

<div class="container">
<%  if (collection.cards) {%>
    <% collection.cards.forEach(card => { %>
        <div class="row">
            <div class="col s12 m6">
                <div class="card show-collection-card front">
                    <div class="card-content">
                        <span class="card-title"><%= card.front   %></span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card show-collection-card back">
                    <div class="card-content">
                        <p><%= card.back %></p>
                    </div>
                </div>
            </div>
        </div>
    <% }) %>
<% } %>
</div>

<div id="delete-collection-modal" class="modal">
    <div class="modal-content">
        <h3>Are you sure? <button class=".modal-close btn-flat right" onclick=deleteModal.close()><i class=" material-icons">close</i></button></h3>
        <p> Delete the collection </p>
        <div class="card">
            <div class="card-content">
                <div class="card">
                    <div class="card-content">
                        <p><span class="card-title"><%= collection.name %> </span></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <p class="card-title"><%= collection.description  %></p>
                    </div>
                </div>
            </div>
        </div>
        <button id="DELETE-COLLECTION" class="btn">confirm delete</button>
    </div>
</div>

<script>
var url = "<%= '/collections/' + collection.id %>"

</script>
<script src="/js/collections-show.js"></script>